map



<br/>
<br/>
<br/>
<h1>Google Map</h1>
<ul>
  <li>Gedney Farm (special)</li>
  <li>Accommodations that pop up from links below</li>
  <li>Accommodations locations listed below(links/names/address/phone)</li>

  <li></li>

</ul>