<div class="row-fluid">
  <div class="span12">
    <div id="home_banner">
      <br/>
      <br/>
      <h1>Shuttle</h1>
    </div>
  </div>
</div>

<div class="row-fluid">
  <div class="col-xs-6">
    <h2>Shuttle service will be provided from several hotels in the area to Gedney Farm on the evening of the ceremony and reception.</h2>
    <h2>We'll post more details about the shuttle schedule here soon.</h2>
  </div>
</div>

<div class="row-fluid">
  <div id="boat_couple" class="col-xs-6">
  </div>
</div>