<div class="row-fluid">
  <div class="span12">
    <div id="home_banner">
      <br/>
      <br/>
      <h1>Weekend</h1>
    </div>
  </div>
</div>

<div class="row-fluid">
  <div id="barns_night" class="col-xs-6">
  </div>
</div>

<div class="row-fluid">
  <div class="col-xs-6">
    <h1>Friends and Family,</h1>
    <p>We'll be married at Gedney Farm in New Marlborough, MA-a small town in the Berkshires-on May 10th! We hope this site can help with travel plans and other arrangements. We can't wait to see you all!</p>
    <h2>Friday night, May 9th</h2>
    <p>Welcome cocktail party for all guests who have arrived to the area</p>
    <h2>Saturday, May 10th</h2>
    <p>Evening ceremony and reception at Gedney Farm</p>
    <h2>Sunday, May 11th</h2>
    <p>Brunch at Gedney Farm</p>
  </div>
</div>